<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Lava音乐实验室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #6 for blank page layout" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN LAYOUT FIRST STYLES -->
    <!--<link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />-->
    <!-- END LAYOUT FIRST STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />-->
    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.css}"  rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/assets/global/css/components.css}" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{/assets/global/css/plugins.css}" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/assets/layouts/layout6/css/layout.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/layouts/layout6/css/custom.css}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->